.wrapper {
    float: left;
    width: 100%;
}

.account-body {
    display: block;
    padding: 10% 21% 10% 30%;
}

.form-container {
    width: 100%;
    max-width: 600px;
    padding: 10px;
}

/* form */
.row {
    height: 40px;
    padding: 15px;
}

.row::after {
    clear: both;
}

label {
    float: left;

    font-size: 20px;
    line-height: 30px;
}

input {
    float: right;
    box-sizing: border-box;
    width: 65%;
    min-width: 150px;
    height: 35px;
    padding-left: 10px;

    font-size: 15px;
}

input::-webkit-input-placeholder{
    font-size: 15px;
    color: white;
}

input:focus{
    font-size: 15px;
    color: white;
}

.btn { 
    display:block; 
    width:90%; 
    height:50px; 

    font-size: 25px;
    line-height:40px; 
    margin:15px auto; 
    text-align:center; 
    cursor: pointer; 
    
    transition: all 0.9s color 0.3; 
} 

/* design */

.design-alert {
    color: red;
}

.design-bg {
    background-color: #15133C;
}

.design-point {
    border: 1px solid #F1EEE9;
    border-radius: 15px;

    color: #F1EEE9;
}

.design-hover:hover {
    color: #73777B;
    border-color: #73777B;
}
